{% extends "base.html" %}
{% block title %}Статьи{% endblock %}
{% block menu %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:article_add' %}">Создать статью</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Статьи</h1>
    <div class="my-2">
     {% include 'partial/search_form.html' with form=search_form %}
    </div>
    {% if is_paginated %}
        <div class="my-2">
        {% include 'partial/pagination.html' %}
        </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in articles %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">Автор: {{ article.author }}</p>
                        <a href="{% url "webapp:article_detail" article.pk %}" class="btn btn-primary">Подробнее</a>
                        <a href="{% url "webapp:article_update" article.pk %}" class="btn btn-primary">Изменить</a>
                        <a href="{% url "webapp:article_delete" article.pk %}" class="btn btn-primary">Удалить</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}